#recordButton {
    background: no-repeat url('chrome-extension://__MSG_@@extension_id__/images/record.png');
    position: absolute;
    margin: auto;
    right: 30px;
    top: 65px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: contain;
}

#savedFeedback {
    right: 20px;
    top: 100px;
    position: absolute;
    color: #00CC00;
    font-size: 16px;
    font-weight: bold;
    display: none;
    max-width: 220px;
    text-align: right;
    z-index: 10000;

    &.failed {
        color: #FF0000;
    }
}
